.sizeSelector {
  position: relative;
  --height: 1.75rem;
  height: var(--height);
  min-width: 7.5rem;
}
.sizeSelector .inner {
  z-index: 99;
  position: absolute;
  top: var(--height);
  left: 0;
  width: 100%;
  font-size: var(--tiny);
}
.sizeSelector > .item {
  font-size: var(--tiny);
  min-height: var(--height);
  align-items: center;
  gap: 0.15rem;
  display: flex;
  background-color: var(--genColor);
  height: var(--height);
  max-height: var(--height);
  width: fit-content !important;
  cursor: default;
}

.sizeSelector > .item .icon_wrap {
  cursor: pointer;
  padding: 0.5rem 0.25rem;
  align-items: center;
  gap: 0.35rem;
  display: flex;
  background-color: var(--genColor);
  height: 100%;
  border-radius: 2px;
  transition: all 200ms ease;
}
.sizeSelector > .item .icon_wrap:hover {
  background-color: var(--ltePrimary);
}

.sizeSelector .inner .item {
  cursor: pointer;
  width: 100%;
  min-height: var(--height);
  padding: 0.5rem 0.5rem;
  align-items: center;
  display: flex;
}

.sizeSelector .inner > .item {
  border: 1px solid black;
  width: fit-content !important;
}

.sizeSelector .inner .item:hover,
.sizeSelector .inner .custom_wrapper:hover .custom {
  background-color: var(--lightColor);
}
.sizeSelector .inner > .item:first-child:hover,
.sizeSelector .inner > .item:first-child {
  background-color: var(--genColor);
  height: var(--height);
  max-height: var(--height);
}

.sizeSelector .inner > .item_wrapper {
  max-height: 20rem;
  width: 12rem;
  box-shadow: var(--shadowDk2);
  box-shadow: var(--shadowFloat);
  border-radius: var(--radius);
  background-color: var(--genColor);
  border: 1px solid var(--lightColor);
  overflow-y: auto;
  overflow-y: overlay;
  border-top: 1px solid var(--borderColor);
  margin-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.sizeSelector .inner > .item_wrapper .custom_wrapper {
  min-height: var(--height);
  padding: 0;
  width: 100%;
  align-items: center;
  position: relative;
  display: flex;
}

.sizeSelector .inner > .item_wrapper .custom_wrapper .custom {
  cursor: pointer;
  color: var(--expandColor);
  width: 100%;
  height: var(--height);
  padding: 0.5rem 0.5rem;
  align-items: center;
  display: flex;
  position: absolute;
  border-bottom: 1px solid var(--borderColor);
  justify-content: space-between;
}

.sizeSelector .inner > .item_wrapper .custom_wrapper .custom:hover svg path,
.sizeSelector .inner > .item_wrapper .custom_wrapper .custom:hover {
  color: #2d2d2d;
  fill: #2d2d2d;
}

.sizeSelector .inner > .item_wrapper .floatContainer {
  z-index: 12222;
  background-color: var(--genColor);
  position: absolute;
  top: 0;
  border-radius: var(--radius);
  left: calc(100%);
  height: 10rem;
  width: 20rem;
  box-shadow: var(--shadowFloat);
  display: none;
}

.sizeSelector .inner > .item_wrapper .custom_size {
  width: fit-content;
  max-width: 100%;
  font-weight: 600;
}

.sizeSelector .inner > .item_wrapper .custom_wrapper .floatContainer {
  display: flex;
}
