.floatWidget {
  z-index: 9;
  position: absolute;
  top: 3rem;
  left: 3rem;
  padding: var(--padding);
  height: 300rem;
  max-height: 100%;
  /* width: var(--floatWidth); */
  background-color: var(--genColor);
}

.floatWidget .inner {
  border-radius: var(--radius);
  height: 1.5rem;
  background-color: rgba(238, 238, 238, 0.447);
}
