.artboard {
  position: relative;
  --containerVertPad: 1rem;
  overflow: hidden;
}
.artboard .rulers {
  font-size: 0.65rem;
  --borderCol: rgb(213, 213, 213);
  position: absolute;
  background-color: rgb(241, 241, 241);
  background-color: #eee;
  top: 0;
  left: 0;
  --index: 9;
}

.artboard .rulers.horiz {
  right: 0;
  z-index: var(--index);
  border-bottom: 1px solid var(--borderCol);
  width: 100%;
}

.artboard .rulers.vert {
  bottom: 0;
  border-right: 1px solid var(--borderCol);
  height: 100%;
}

.artboard .rulers > .roller {
  height: 100%;
  position: relative;
}

.artboard .rulers .inner {
  height: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  overflow-wrap: anywhere;
  background-color: #fff;
}

.artboard .rulers .inner .artboard_pin_wrapper {
  height: 1rem;
  width: 1rem;
  position: absolute;
}
.artboard .rulers .inner svg.artboard_pin path {
  fill: rgb(131, 136, 187);
  cursor: pointer;
}

.artboard .rulers .ruler_inner {
  height: 100px;
  background-color: transparent;
  position: relative;
  pointer-events: none;
  margin: 0 auto;
}
.line {
  position: absolute;
  width: 1px;
  z-index: 999;
  top: 0;
  bottom: 0px;
  background-color: rgba(106, 106, 255, 0.5);
  pointer-events: none;
}

.artboard .rulers.horiz .inner {
  box-shadow: -1px 0 0 var(--borderCol), 1px 0 0 var(--borderCol);
}
.artboard .rulers.vert .inner {
  box-shadow: 0 -1px 0 var(--borderCol), 0 1px 0 var(--borderCol);
}

.artboard .rulers > .shadow {
  z-index: var(--index);
  transition: all 200ms ease;
  position: absolute;
}

.artboard .rulers.vert > .shadow {
  width: 2px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
}
.artboard .rulers.horiz > .shadow {
  height: 2px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent);
}

.artboard_inner {
  position: relative;
  margin-bottom: 6rem;
  overflow-y: auto;
  height: 100%;
}

.artboard_inner .inner {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
